{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-apiserver"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-apiserver",
        "image": "gcr.io/google-containers/hyperkube:{{ K8S_VERSION }}",
        "command": [
          "/hyperkube",
          "apiserver",
          "--admission-control=AlwaysAdmit",
          "--allow-privileged=true ",
          "--anonymous-auth=false ",
          "--bind-address={{ K8S_MASTER_IP }} ",
          "--client-ca-file={{ K8S_CERT_FILES_DIR }}/ca.crt.pem ",
          "--etcd-cafile={{ K8S_CERT_FILES_DIR }}/ca.crt.pem ",
          "--etcd-certfile={{ K8S_CERT_FILES_DIR }}/admin.crt.pem ",
          "--etcd-keyfile={{ K8S_KEY_FILES_DIR }}/admin.key ",
          "--etcd-servers=https://{{ K8S_MASTER_IP }}:2379 ",
          "--insecure-bind-address=127.0.0.1 ",
          "--insecure-port=8080 ",
          "--kubelet-certificate-authority={{ K8S_CERT_FILES_DIR }}/ca.crt.pem ",
          "--kubelet-client-certificate={{ K8S_CERT_FILES_DIR }}/admin.crt.pem ",
          "--kubelet-client-key={{ K8S_KEY_FILES_DIR }}/admin.key ",
          "--log-dir=/var/log/ ",
          "--requestheader-client-ca-file={{ K8S_CERT_FILES_DIR }}/ca.crt.pem ",
          "--service-cluster-ip-range={{ K8S_SERVICE_IP_SUBNET }} ",
          "--secure-port=443 ",
          "--tls-ca-file={{ K8S_CERT_FILES_DIR }}/ca.crt.pem ",
          "--tls-cert-file={{ K8S_CERT_FILES_DIR }}/{{ inventory_hostname }}.crt.pem ",
          "--tls-private-key-file={{ K8S_KEY_FILES_DIR }}/{{ inventory_hostname }}.key ",
          "--token-auth-file={{ K8S_AUTH_FILES_DIR }}/known_tokens.csv ",
          "--{{ K8S_GLOBAL_LOG_LEVEL }}"
        ],
        "ports": [
          {
            "name": "https",
            "hostPort": 443,
            "containerPort": 443
          },
          {
            "name": "local",
            "hostPort": 8080,
            "containerPort": 8080
          }
        ],
        "volumeMounts": [
          {
            "name": "k8s-base-dir",
            "mountPath": "{{ K8S_BASE_DIR }}",
            "readOnly": true
          },
          {
            "name": "logdir",
            "mountPath": "/var/log"
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 8080,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "k8s-base-dir",
        "hostPath": {
          "path": "{{ K8S_BASE_DIR }}"
        }
      },
      {
        "name": "logdir",
        "hostPath": {
          "path": "/var/log"
        }
      }
    ]
  }
}
