[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
      --{{ K8S_GLOBAL_LOG_LEVEL }} \
      --address={{ iface1.ipv4 }} \
      --allow-privileged=true \
      --cgroup-driver=cgroupfs \
      --cloud-provider="" \
      --cluster-dns={{ K8S_DNS_IP }} \
      --cni-conf-dir={{ CNI_CONF_DIR }} \
      --cni-bin-dir={{ CNI_DIR }} \
      --network-plugin=cni \
      --container-runtime="docker" \
      --healthz_bind_address={{ iface1.ipv4 }} \
      --healthz_port=0 \
      --read-only-port=0 \
      --kubeconfig={{ K8S_KUBECONFIG }} \
      --hostname-override={{ inventory_hostname }} \
      --logtostderr=true \
      --node-ip={{ iface1.ipv4 }} \
      --pod-manifest-path=/etc/kubernetes/manifests \
      --port=10250 \
      --resolv-conf=/run/systemd/resolve/resolv.conf \
      --register-node \
      --tls-cert-file={{ K8S_CERT_FILES_DIR }}/{{ inventory_hostname }}.crt.pem \
      --tls-private-key-file={{ K8S_KEY_FILES_DIR }}/{{ inventory_hostname }}.key

Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
