*.swp
*.pem
*.retry
*.swp
registry_config

# Editet Variable Files on Control Maschines
group_vars/all
group_vars/all.yml

# Edited Host Files on Control Maschines
production.ini
testing

# Vaults
*.vault-pass.*
