[vmware-nodes]
# Only add vmware nodes, since they need a different interface setup,
# you need to manually add all IPs to the node. Pattern:
# HOSTNAME		   User		     Variable
# mstr-0.staging.gerdi.org ansible_user=root nic0ip=IP1 nic1ip=IP2

[loadbalancer-nodes]
# Add all lb nodes, pattern:
# HOSTNAME          User
# lb1.example.com ansible_user=root

[kubernetes-nodes]
# add all nodes (including lb!), pattern:
# HOSTNAME          User              Hostname (optional)
# host1.example.com ansible_user=root hostname_overwrite=
# Please use FQDNs for the hosts, IP addresses are not supported anymore

[kubernetes-masters]
# add all masters, pattern:
# mst1.example.com ansible_user=root
# Please use FQDNs for the hosts, IP addresses are not supported anymore

[kubernetes-management]
# If you use localhost use the following ansible_connection=local which does not require a running SSH server
# If you use a remot host just delete the ansivle_connection=local variable from the inventory file
localhost ansible_user=<your_local_user> ansible_connection=local
