[vmware-nodes]
# Only add vmware nodes, since they need a different interface setup,
# you need to manually add all IPs to the node. Pattern:
# HOSTNAME		   User		     Variable
# mstr-0.staging.gerdi.org ansible_user=root eth0ip=IP1 eth1ip=IP2 eth2ip=IP3 (optional)

[loadbalancer-nodes]
# Add all lb nodes, pattern:
# HOSTNAME          User
# lb1.example.com ansible_user=root

[kubernetes-nodes]
# add all nodes (including lb if required), pattern:
# HOSTNAME          User              Variable			   Hostname (optional)
# host1.example.com ansible_user=root hostname_suffix=<previous++> hostname_overwrite=
# Do not forget to increase hostname_suffix with every node instance
# Please use FQDNs for the hosts, IP addresses are not supported anymore

[kubernetes-masters]
# add all masters, pattern :
# mst1.example.com ansible_user=root hostname_suffix=<previous++>
# Do not forget to increase hostname_suffix with every master instance
# Please use FQDNs for the hosts, IP addresses are not supported anymore

[kubernetes-management]
localhost         ansible_user=<your_local_user>
