# Please use FQDNs for the hosts, IP addresses are not supported!

# Add all VMWare nodes, pattern:
# HOSTNAME		     publicIP & publicNetMask (Required for VMware loadbalancers)
[vmware_nodes]
# mstr-1.staging.example.org
# lb-1.staging.example.org   publicIP=1.2.3.12 publicNetMask=17

# Add all OpenNebula nodes, pattern:
# HOSTNAME
[opennebula_nodes]

# Add all OpenStack nodes, pattern:
# HOSTNAME
[openstack_nodes]

# ------------------------------------------------------------- #

# Add all NFS nodes, pattern:
# HOSTNAME		       Alternative IP (for VMs with floating ips) (altIP, Optional)
[nfs_nodes]

# Add all loadbalancer nodes, pattern:
# HOSTNAME
[loadbalancer_nodes]

# Add nodes that will be part of kubernetes cluster, pattern:
# HOSTNAME                 Hostname Overwrite (hostname_overwrite, Optional)       Alternative IP (for VMs with floating ips) (altIP, Optional)
[kubernetes_nodes]

# Add all kubernetes cluster masters, pattern:
# HOSTNAME                   Hostname Overwrite (hostname_overwrite, Optional)     Alternative IP (for VMs with floating ips) (altIP, Optional)
[kubernetes_masters]

# Add machine on which to create cluster certificates
[kubernetes_management]
