server {
  listen  80;
  listen 443 ssl;

  ssl on;
  ssl_certificate /etc/ssl/{{ K8S_CLUSTER_NAME }}.ext.{{ K8S_DOMAIN_NAMESPACE }}.crt;
  ssl_certificate_key /etc/ssl/{{ K8S_CLUSTER_NAME }}.ext.{{ K8S_DOMAIN_NAMESPACE }}.key;

  server_name ~^{{ K8S_CLUSTER_NAME }}\..*ext.{{ K8S_DOMAIN_NAMESPACE }};
  access_log /var/log/nginx/nginx.vhost.access.log;
  error_log /var/log/nginx/nginx.vhost.error.log;

  location /api/search {
    add_header "Access-Control-Allow-Origin" "*";
    proxy_pass http://10.222.21.10:9200/gerdi/_search;
  }

  location /api/get {
    add_header "Access-Control-Allow-Origin" "*";
    proxy_pass http://10.222.21.10:9200/gerdi/_all;
    limit_except GET {
      deny all;
    }
  }

  # Protect index
  location /api/index {
    proxy_pass http://10.222.21.10:9200/gerdi/metadata;
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }

  location /harvest/arcgis {
    proxy_pass http://10.222.21.11:8080/arcgis/harvest;
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }

  location /harvest/faostat {
    proxy_pass http://10.222.21.12:8080/faostat/harvest;
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }

  location /harvest/pangaea {
    proxy_pass http://10.222.21.13:8080/oaipmh/harvest;
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
}
