apiVersion: v1
kind: Secret
metadata:
  name: bookmark-mongo-pw
  creationTimestamp: {{ ansible_date_time.iso8601 }}
  resourceVersion: "697313"
  selfLink: /api/v1/namespaces/default/secrets/bookmark-mongo-pw
  uid: 5ed6943e-0ce2-11e8-a1c7-02010069000c
type: Opaque
data:
  password: {{ MONGODB_PASSWORD }}
  username: mongodbGeRDIuser
