[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

# TODO: Sync with json file
[Service]
ExecStart=/usr/bin/controller-manager \
      --{{ K8S_GLOBAL_LOG_LEVEL }} \
      --logtostderr \
      --kubeconfig=/etc/kubernetes/kubeconfig \
      --cluster-cidr={{ CLUSTER_IP_SUBNET }}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
