{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-controller-manager"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-controller-manager",
        "image": "gcr.io/google-containers/hyperkube:{{ K8S_VERSION }}",
        "command": [
          "/hyperkube",
          "controller-manager",
          "--{{ K8S_GLOBAL_LOG_LEVEL }}",
          "--logtostderr ",
          "--kubeconfig={{ K8S_KUBECONFIG }}",
          "--cluster-cidr={{ K8S_CLUSTER_IP_SUBNET }}",
          "--cluster-name={{ K8S_DEPLOYMENT_CONTEXT }}",
          "--cluster-signing-cert-file={{ K8S_CERT_FILES_DIR }}/ca.crt.pem",
          "--cluster-signing-key-file={{ K8S_KEY_FILES_DIR }}/ca.key",
          "--kubeconfig={{ K8S_KUBECONFIG }}",
          "--logtostderr",
          "--root-ca-file={{ K8S_CERT_FILES_DIR }}/ca.crt.pem",
          "--service-account-private-key-file={{ K8S_KEY_FILES_DIR }}/{{ inventory_hostname }}.key",
          "--service-cluster-ip-range={{ K8S_SERVICE_IP_SUBNET }}",
          "--use-service-account-credentials=true",
          "--{{ K8S_GLOBAL_LOG_LEVEL }}"
        ],
        "volumeMounts": [
          {
            "name": "k8s-base-dir",
            "mountPath": "{{ K8S_BASE_DIR }}",
            "readOnly": true
          },
          {
            "name": "logdir",
            "mountPath": "/var/log"
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 10252,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "k8s-base-dir",
        "hostPath": {
          "path": "{{ K8S_BASE_DIR }}"
        }
      },
      {
        "name": "logdir",
        "hostPath": {
          "path": "/var/log"
        }
      }
    ]
  }
}
