[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/scheduler \
      --{{ K8S_GLOBAL_LOG_LEVEL }} \
      --logtostderr \
      --kubeconfig={{ K8S_KUBECONFIG }}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
