<VirtualHost *:80>
    ServerName      www.gerdi.org
    ServerAlias     www.test.gerdi.org
    ServerAlias     test.gerdi.org
    ServerAlias     www.demo.gerdi.org
    ServerAlias     demo.gerdi.org
    ServerAlias     www.canary.gerdi.org
    ServerAlias     canary.gerdi.org

    ServerAdmin     weber@lrz.de

    ErrorLog        /var/log/apache2/gerdi_frontend_error.log
    CustomLog       /var/log/apache2/gerdi_frontend_access.log combined

    RewriteEngine   On

    RewriteCond %{HTTP_HOST} ^eree.showcase.gerdi.org
    RewriteRule ^/(.*) http://www.test.gerdi.org:32000/$1

    RewriteCond %{HTTP_HOST} ^tumor.showcase.gerdi.org
    RewriteRule ^/(.*) http://www.test.gerdi.org:32001/$1

    RewriteCond %{HTTP_HOST} !^.*\.showcase
    RewriteRule     ^/(.*)  https://%{HTTP_HOST}/$1 [R=301,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName      www.gerdi.org
    ServerAlias     www.test.gerdi.org
    ServerAlias     test.gerdi.org
    ServerAlias     www.demo.gerdi.org
    ServerAlias     demo.gerdi.org
    ServerAlias     www.canary.gerdi.org
    ServerAlias     canary.gerdi.org

    ServerAdmin     weber@lrz.de

    ErrorLog        /var/log/apache2/gerdi_frontend_ssl_error.log
    CustomLog       /var/log/apache2/gerdi_frontend_ssl_access.log combined

    RewriteEngine   On
    DocumentRoot    /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/ssl/{{ K8S_DEPLOYMENT_CONTEXT }}.{{ K8S_DOMAIN_NAMESPACE }}.crt
    SSLCertificateKeyFile /etc/ssl/{{ K8S_DEPLOYMENT_CONTEXT }}.{{ K8S_DOMAIN_NAMESPACE }}.key
    SSLCACertificateFile /etc/ssl/{{ K8S_DEPLOYMENT_CONTEXT }}.{{ K8S_DOMAIN_NAMESPACE }}.chain

    SSLProtocol All -SSLv2 -SSLv3
    SSLHonorCipherOrder On
    SSLCompression off
    SSLCipherSuite 'EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA:CAMELLIA256-SHA:AES256-SHA:CAMELLIA128-SHA:AES128-SHA'

    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    UseCanonicalName On

    AddDefaultCharset UTF-8

    ShibCompatValidUser On

    # dieser Alias wird i.d.R. nur benötigt, wenn URL Rewrite o.ä, erfolgt
    # Alias /Shibboleth.sso /Shibboleth.sso
    <Location /Shibboleth.sso>
      SetHandler shib
      Require all granted
      ProxyPass !
    </Location>

    # Metadata unter der entityID-URL:
    <Location /shibboleth>
      Require all granted
      ProxyPass !
    </Location>
    Redirect seeother /shibboleth https://www.{{ K8S_DEPLOYMENT_CONTEXT }}.{{ K8S_DOMAIN_NAMESPACE }}/Shibboleth.sso/Metadata

    Alias /shibboleth-sp/main.css /usr/share/shibboleth/main.css
    #Alias /shibboleth-sp/logo.jpg /usr/share/shibboleth/logo.jpg

    # Location to be protected by the SP
    <Location /shibbtest>
        AuthType shibboleth
        ShibRequestSetting requireSession true
        Require valid-user
    </Location>

    # Support für WAYFless-URLs
    # see https://www.ukfederation.org.uk/library/uploads/Documents/WAYFlessGuidance.pdf
    #
    <Location /start-session>
      ProxyPass !
    </Location>
    RedirectMatch /start-session$ /Shibboleth.sso/Login
    <Location /api/search>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "OPTIONS, POST, GET"
        Header set Access-Control-Allow-Headers "Content-Type"
    </Location>

    <Location /api/get>
        Header set Access-Control-Allow-Origin "*"
        <LimitExcept GET>
            Require all denied
        </LimitExcept>
    </Location>

    # Protect harvesters and index
    <Location /api/index>
        AuthType        Basic
        AuthName        "Restricted"
        AuthUserFile    /etc/apache2/.htpasswd
        Require         valid-user
    </Location>

    <Location /harvest/>
        AuthType        Basic
        AuthName        "Restricted"
        AuthUserFile    /etc/apache2/.htpasswd
        Require         valid-user
    </Location>

    <Location /admin/logs>
        RequestHeader set X-Graylog-Server-URL expr=https://%{HTTP_HOST}/admin/logs/api
    </Location>

    <Location /admin/kafka>
        AuthType        Basic
        AuthName        "Restricted"
        AuthUserFile    /etc/apache2/.htpasswd
        Require         valid-user
    </Location>

    <Location /admin/kibana/>
        AuthType	Basic
        AuthName	"Restricted"
        AuthUserFile	/etc/apache2/.htpasswd
        Require		valid-user
    </Location>

    <Location /api/v1/collections>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "OPTIONS, DELETE, PUT, POST, GET"
        Header set Access-Control-Allow-Headers "Content-Type"
    </Location>

    <Location /harvest/hccenter>
        AuthType      None
        Require all granted
        RequestHeader set X-Forwarded-Proto 'https' env=HTTPS
        RequestHeader set X-SCRIPT-NAME /harvest/hccenter
        RequestHeader set X-SCHEME https
    </Location>

    Redirect seeother /shibboleth https://test.sp.gerdi.org/Shibboleth.sso/Metadata

    SSLProxyEngine on
    ProxyPass /kubectl/ https://mstr-0.staging.gerdi.org/
    ProxyPassReverse /kubectl/ https://mstr-0.staging.gerdi.org/
    SSLProxyMachineCertificateFile "/opt/k8s/certs/admin.crtAndKey.pem"

    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off

    <Location /kubectl >
      ProxyPreserveHost off
      <RequireAny>
        Require ip 138.246.224.141
      </RequireAny>
    </Location>
    # Frontend for presentation purposes
    # Order matters! First matching ProxyPass directive will do the job
    ProxyPass         /api/get            http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/_all
    ProxyPassReverse  /api/get            http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/_all
    ProxyPass         /api/search         http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/_search
    ProxyPassReverse  /api/search         http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/_search
    ProxyPass         /api/index          http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/metadata
    ProxyPassReverse  /api/index          http://elasticsearch-data.default.svc.cluster.local:9200/gerdi/metadata

    ProxyPass         /harvest/arcgis     http://arcgis-harvester.default.svc.cluster.local:8080/arcgis/harvest
    ProxyPassReverse  /harvest/arcgis     http://arcgis-harvester.default.svc.cluster.local:8080/arcgis/harvest
    ProxyPass         /harvest/faostat    http://faostat-harvester.default.svc.cluster.local:8080/faostat/harvest
    ProxyPassReverse  /harvest/faostat    http://faostat-harvester.default.svc.cluster.local:8080/faostat/harvest
    ProxyPass         /harvest/pangaea    http://pangaea-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/pangaea    http://pangaea-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/oceantea   http://oceantea-harvester.default.svc.cluster.local:8080/oceantea/harvest
    ProxyPassReverse  /harvest/oceantea   http://oceantea-harvester.default.svc.cluster.local:8080/oceantea/harvest
    ProxyPass         /harvest/seaaroundus http://seaaroundus-harvester.default.svc.cluster.local:8080/seaaroundus/harvest
    ProxyPassReverse  /harvest/seaaroundus http://seaaroundus-harvester.default.svc.cluster.local:8080/seaaroundus/harvest
    ProxyPass         /harvest/ena        http://ena-harvester.default.svc.cluster.local:8080/ena/harvest
    ProxyPassReverse  /harvest/ena        http://ena-harvester.default.svc.cluster.local:8080/ena/harvest
    ProxyPass         /harvest/alpendac   http://alpendac-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/alpendac   http://alpendac-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/soep       http://soep-harvester.default.svc.cluster.local:8080/soep/harvest
    ProxyPassReverse  /harvest/soep       http://soep-harvester.default.svc.cluster.local:8080/soep/harvest
    ProxyPass         /harvest/zenodo     http://zenodo-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/zenodo     http://zenodo-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/dwd        http://dwd-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/dwd        http://dwd-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/opendatalmu  http://opendatalmu-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/opendatalmu  http://opendatalmu-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/fishstatj  http://fishstatj-harvester.default.svc.cluster.local:8080/fishstatj/harvest
    ProxyPassReverse  /harvest/fishstatj  http://fishstatj-harvester.default.svc.cluster.local:8080/fishstatj/harvest
    ProxyPass         /harvest/ifo        http://ifo-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/ifo        http://ifo-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/imr        http://imr-harvester.default.svc.cluster.local:8080/imr/harvest
    ProxyPassReverse  /harvest/imr        http://imr-harvester.default.svc.cluster.local:8080/imr/harvest
    ProxyPass         /harvest/oglp       http://oglp-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPassReverse  /harvest/oglp       http://oglp-harvester.default.svc.cluster.local:8080/oaipmh/harvest
    ProxyPass         /harvest/hccenter   http://hccenter.default.svc.cluster.local
    ProxyPassReverse  /harvest/hccenter   http://hccenter.default.svc.cluster.local

    ProxyPass         /api/v1/hccenter    http://hccenter.default.svc.cluster.local/v1
    ProxyPassReverse  /api/v1/hccenter    http://hccenter.default.svc.cluster.local/v1
    ProxyPass         /api/v1/store       http://webdav-store.default.svc.cluster.local:5678
    ProxyPassReverse  /api/v1/store       http://webdav-store.default.svc.cluster.local:5678
    ProxyPass         /api/v1/store-jhub  http://jhub-store.default.svc.cluster.local:5678
    ProxyPassReverse  /api/v1/store-jhub  http://jhub-store.default.svc.cluster.local:5678
    ProxyPass         /api/v1/collections http://bookmark-persistence-api.default.svc.cluster.local:4567/api/v1/collections
    ProxyPassReverse  /api/v1/collections http://bookmark-persistence-api.default.svc.cluster.local:4567/api/v1/collections

    ProxyPass         /store              http://webdav-store-ui.default.svc.cluster.local/store
    ProxyPassReverse  /store              http://webdav-store-ui.default.svc.cluster.local/store
    ProxyPass         /store-jhub         http://jhub-store-ui.default.svc.cluster.local/store-jhub
    ProxyPassReverse  /store-jhub         http://jhub-store-ui.default.svc.cluster.local/store-jhub

    ProxyPass         /bookmark           http://bookmark-frontend.default.svc.cluster.local/bookmark
    ProxyPassReverse  /bookmark           http://bookmark-frontend.default.svc.cluster.local/bookmark

    ProxyPass         /admin/kibana/      http://kibana.default.svc.cluster.local:5601/
    ProxyPassReverse  /admin/kibana/      http://kibana.default.svc.cluster.local:5601/
    ProxyPass         /admin/logs         http://graylog-web.default.svc.cluster.local:9000/admin/logs
    ProxyPassReverse  /admin/logs         http://graylog-web.default.svc.cluster.local:9000/admin/logs
    ProxyPass         /admin/kafka        http://kafka-manager.default.svc.cluster.local:9000/admin/kafka
    ProxyPassReverse  /admin/kafka        http://kafka-manager.default.svc.cluster.local:9000/admin/kafka

    RewriteCond %{HTTP:Connection} Upgrade [NC,OR]
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteRule /analyze/(.*) ws://proxy-public.jhub.svc.cluster.local/analyze/$1 [P,L]
    ProxyPreserveHost On
    ProxyPass         /analyze            http://proxy-public.jhub.svc.cluster.local/analyze
    ProxyPassReverse  /analyze            http://proxy-public.jhub.svc.cluster.local/analyze

    ProxyPass         /                   http://search-frontend.default.svc.cluster.local/
    ProxyPassReverse  /                   http://search-frontend.default.svc.cluster.local/
</VirtualHost>
