#!/bin/bash
# Script that makes sure the networkd takeover
# doesn't kill the ansible playbook execution

{% if inventory_hostname in groups['loadbalancer-nodes'] %}
systemctl enable --now repairRoutes.service > /dev/null 2>&1
systemctl daemon-reload
{% endif %}

# Delete previous resolve file
rm /etc/resolv.conf
# Start systemd networking
systemctl enable --now systemd-networkd.service > /dev/null 2>&1
systemctl enable --now systemd-resolved.service > /dev/null 2>&1

# Setup systemd DNS
# Make sure to add our DNS
sed -i 's/#DNS=/DNS={{ NODE_NAMESERVER }}/;' /etc/systemd/resolved.conf
# Disable previous networking
systemctl disable networking.service > /dev/null 2>&1

# Link our new resolv.conf to the right place
ln -s /run/systemd/resolve/resolv.conf /etc/resolv.conf
systemctl restart systemd-resolved.service > /dev/null 2>&1

# Reload services
systemctl daemon-reload
systemctl restart systemd-networkd > /dev/null 2>&1
