apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: kube-monitor
type: Opaque
data:
  GF_SECURITY_ADMIN_USER: {{ GRAFANA_ADMIN_UNAME | b64encode }}
  GF_SECURITY_ADMIN_PASSWORD: {{ GRAFANA_ADMIN_PASSWORD | b64encode }}
