apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: kube-monitor
  labels:
    app: grafana
    release: {{ GRAFANA_VERSION }}
data:
  grafana.ini: |
    instance_name = grafana

    [server]
    root_url = https://{{ MAIN_DOMAIN }}/admin/grafana/

    [analytics]
    reporting_enabled = false
    check_for_updates = false

    [metrics]
    enabled = true

    [alerting]
    enabled = false

    [auth.basic]
    enabled = false
