[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

# TODO: Create kubeconfig with authorization information
[Service]
ExecStart=/usr/bin/kube-proxy \
      --{{ K8S_GLOBAL_LOG_LEVEL }} \
      --master=https://{{ MASTER_IP }}:6643
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
