[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/usr/bin/kube-proxy \
      --{{ K8S_GLOBAL_LOG_LEVEL }} \
      --bind-address={{ iface1.ipv4 }} \
      --healthz-bind-address={{ iface1.ipv4 }} \
      --kubeconfig={{ K8S_KUBECONFIG }} \
      --cluster-cidr={{ K8S_CLUSTER_IP_SUBNET }} \
      --proxy-mode="iptables"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
