[Unit]
Description=kube-dns and kube-addon-manager fix
Requires=ovn-k8s-master.service
After=ovn-k8s-master.service
Requires=ovn-k8s-node.service
After=ovn-k8s-node.service

[Service]
Type=oneshot
ExecStart=/etc/kubernetes/fix-k8s-addons.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
