apiVersion: v1
kind: Config
current-context: {{ K8S_CLUSTER_NAME }}
clusters:
  - name: {{ K8S_CLUSTER_NAME }}
    cluster:
      server: https://{{ K8S_MASTER_IP }}:6443/
      certificate-authority: {{ K8S_CERT_FILES_DIR }}/ca.crt.pem
contexts:
  - context:
      cluster: {{ K8S_CLUSTER_NAME }}
      user: kubelet
    name: {{ K8S_CLUSTER_NAME }}
users:
  - name: kubelet
    user:
      client-certificate: "{{ K8S_CERT_FILES_DIR }}/kubelet-client.crt.pem"
      client-key: "{{ K8S_KEY_FILES_DIR }}/kubelet-client.key"
