apiVersion: v1
kind: Config
clusters:
  - name: {{ CLUSTER_NAME }}
    cluster:
      server: https://{{ MASTER_IP }}:6443/
      certificate-authority: {{ CERT_FILES_DIR }}/ca.crt.pem
contexts:
  - context:
      cluster: {{ CLUSTER_NAME }}
      user: kubelet
    name: {{ CLUSTER_NAME }}
users:
  - name: kubelet
    user:
      client-certificate: "{{ CERT_FILES_DIR }}/kubelet-client.crt.pem"
      client-key: "{{ KEY_FILES_DIR }}/kubelet-client.key"
