#!/bin/bash
# Copyright 2019 Walentin Lamonos lamonos@lrz.de
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Remove below workaround when this is fixed for linux: https://github.com/openvswitch/ovn-kubernetes/issues/531
# Right now, the KubeDNS pods will never reach "running" state after reboots. We need to kill the existing pods and
# new ones will be successfully created.

# Uncordon master
kubectl uncordon {{ inventory_hostname }}
# Force delete kube-dns pods
kubectl delete pod --force --grace-period=0 --namespace kube-system --selector k8s-app=kube-dns
while true; do
  # Check how many deployments are in running state
  STATUS=$(kubectl get pods -n kube-system | grep -c "Running")
  if [ "$STATUS" -eq "2" ]; then
    # Both are; Break
    break
  elif [ "$STATUS" -eq "1" ]; then
    # Check if Kube-Addon-Manager is stuck in MatchNodeSelector
    MANAGERSTATUS=$(kubectl get pods -n kube-system | grep "kube-addon-manager" | grep -c "MatchNodeSelector")
    if [ "$MANAGERSTATUS" -eq "1" ]; then
      # Force delete
      kubectl delete -f {{ K8S_BASE_DIR }}/kube-addon-manager.yml
      kubectl apply -f {{ K8S_BASE_DIR }}/kube-addon-manager.yml
    fi
  fi
  sleep 3s
done
# Recordon master
kubectl cordon {{ inventory_hostname }}
