# This file is {{ ansible_managed }} hence any changes will be deleted during deployment. Please make any
# changes to the file only in the according template of the openstack-node role in the gitlab repository,
# which is available at https://gitlab.lrz.de/for/ansible/roles/openstack-node. If you make any changes
# please dicuss first with the developpers if this makes sense. Otherwise you should make a fork of the
# repository.
#
# sshd_config -> Configuration file for the OpenSSH Server. Configurations are derived from several guides:
# - https://cipherli.st/
# - https://stribika.github.io/2015/01/04/secure-secure-shell.html
# - https://www.ssh.com/ssh/sshd_config/

AddressFamily inet
ListenAddress {{ host_private_address }}

# ########################### SSH Key Exchange Parameters ###########################
Protocol 2
#HostKey /etc/ssh/ssh_host_ed25519_key
#HostKey /etc/ssh/ssh_host_rsa_key
#KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
#Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# ########################### SSH Client Parameters ###########################
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes

{% if ansible_user != 'root' %}
AllowGroups root {{ ansible_user | default("''") }}
AllowUsers root {{ ansible_user | default("''") }}
{% else %}
AllowGroups root
AllowUsers root
{% endif %}

# ########################### Logging ###########################
LogLevel VERBOSE

# ########################### Port Forwarding  ###########################
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no

# ########################### Subsystem  ###########################
Subsystem sftp /usr/lib/openssh/sftp-server
