apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus
  namespace: kube-monitor
data:
  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s

    scrape_configs:
      - job_name: Self Monitoring
        scrape_interval: 20s
        scrape_timeout: 5s
        metrics_path: /admin/prometheus/metrics
        static_configs:
          - targets:
            - localhost:9090

      - job_name: k8s-nodes-kubelet
        scrape_interval: 10s
        scrape_timeout: 5s
        kubernetes_sd_configs:
        - role: node
        relabel_configs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
