[Unit]
Description=Open virtual network kubernetes gateway helper
Documentation=https://github.com/openvswitch/ovn-kubernetes/README.md
After=ovn-k8s-gateway-init.service

[Service]
ExecStart=/usr/local/bin/ovn-k8s-gateway-helper \
  --physical-bridge=br{{ iface2.name }} \
  --physical-interface={{ iface2.name }} \
  --pidfile \
  --detach

[Install]
WantedBy=default.target
