[Unit]
Description=Open virtual net kubernetes
Documentation=https://github.com/openvswitch/ovn-kubernetes/README.md
After=openvswitch-switch.service
After=systemd-networkd.service

[Service]
ExecStart={{ OVN_K8S_DIR }}/ovn-k8s-init.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
