[Unit]
Description=Open virtual net kubernetes gateway helper
Documentation=https://github.com/openvswitch/ovn-kubernetes/README.md
After=openvswitch-switch.service

[Service]
ExecStart={{ OVN_K8S_DIR }}/ovn-k8s-gateway-init.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
