#!/bin/bash
# Copyright 2018 Tobias Weber weber@lrz.de
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ovn-k8s-overlay minion-init \
  --cluster-ip-subnet={{ K8S_CLUSTER_IP_SUBNET }} \
  --minion-switch-subnet={{ SUBNET_IP_PRE }}.{{ hostname_suffix }}.0/24 \
  --node-name={{ inventory_hostname }}

{% if inventory_hostname in groups['kubernetes-masters'] %}
ovn-k8s-overlay master-init \
  --cluster-ip-subnet={{K8S_CLUSTER_IP_SUBNET}} \
  --master-switch-subnet={{ SUBNET_IP_PRE }}.{{ hostname_suffix }}.0/24 \
  --node-name={{ inventory_hostname }}
{% endif %}

ovn-k8s-overlay gateway-init \
  --cluster-ip-subnet={{ K8S_CLUSTER_IP_SUBNET }} \
  --physical-interface {{ iface2.name }} \
  --physical-ip {{ iface2.ipv4 }} \
  --node-name={{ inventory_hostname }} \
  --default-gw {{ iface2.gw }} \
  --rampout-ip-subnets="{{ SUBNET_IP_PRE }}.{{ hostname_suffix }}.0/24"
