#!/bin/bash
ip link set {{ iface2.name }} down

ovn-k8s-overlay gateway-init \
  --cluster-ip-subnet={{ K8S_CLUSTER_IP_SUBNET }} \
  --physical-interface {{ iface2.name }} \
  --physical-ip {{ iface2.ipv4 }} \
  --node-name={{ hostname.stdout }} \
  --default-gw {{ iface2.gw }}
