#!/bin/bash

ip addr flush dev {{ iface2.name }}

ovn-k8s-overlay gateway-init \
  --cluster-ip-subnet={{ K8S_CLUSTER_IP_SUBNET }} \
  --physical-interface {{ iface2.name }} \
  --physical-ip {{ iface2.ipv4 }} \
  --node-name={{ inventory_hostname }} \
  --default-gw {{ iface2.gw }} \
  --rampout-ip-subnets="{{ SUBNET_IP_PRE }}.{{ hostname_suffix }}.0/24"
